body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  color: #d4d4d4;
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: #111;
  color: #00ff41;
  text-align: center;
  text-decoration: none;
  border: 1px solid #1f3d1f;
}

.btn:hover {
  background-color: #131813;
}